{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="jumbotron">
    <h1>Post creation</h1>

    {{ form_start(form) }}
        <div class="form-group">{{ form_widget(form) }}</div>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/design.css') }}" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"/>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}
